@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Josefin+Slab:ital,wght@0,400;0,500;1,300&family=Mulish:ital,wght@0,400;0,500;0,600;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    /* tirar as bolinhas da lista */
    text-decoration: none;
    /* tira o sublinhado */
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer {
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    /*fixed pra o toggle sempre acompanhar a pagina*/
    z-index: 100;
    /*atributo para que o toggle (hamburguer) fique na frente de tudo*/
    right: 2rem;
    top: 2rem;
    /* editando as 3 linhas dentro do hamburger */
    display: flex;
    flex-direction: column;
    /*aqui diz que irá se comportar como colunas, e não em linha*/
    justify-content: space-evenly;
    cursor: pointer;
}

/* Todo mundo de classe .hamburguer q tiver dentro de uma classe chamada .show-menu vai ser alterado */
.show-menu .hamburguer {
    right: 16rem;
}

/* Linhas do hamburguer(toggle) */
.line {
    width: 100%;
    /* 100% do tamanho da classe pai(hamburguer) */
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}

/* Toggle */

/* Fazendo efeito de X qnd abri o toggle */
.show-menu #line1 {
    transform: rotate(45deg) translate(.20rem, .40rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.20rem, -.40rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a3093;
    color: white;
    font-family: var(--font-action);
    opacity: 0;
    /* So aparece qnd o sidebar estiver ativado(nome da classe: .show-menu) e qnd tiver o mouse pro cima(hover) */
}
/* Span fechar que aparece qnd a toggle aparece */
.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

/* O span "fechar" so aparece por causa disso. Quando a classe .show-menu estiver ativada e passar o mouse em cima com o :hover */
.show-menu .hamburguer:hover span{
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    /* o 100vh é pra qnd renderizar a tela, ele ocupar 100% do tmanho */
    overflow: hidden;
    /*desabilita a possibilidade do cabeçalho passar o tamanho da janela, gerando barra de rolagem horizontal*/
    position: relative;
}

/* a imagem vai ocupar 100% da largura e altura em relação ao header,ou seja, todo espaço do header */
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    /*foi colocado esse backgr color com opacidade pra contrastar com a opacidade da imagem, se n colocasse esse background, a imagem pareceria lavada pq o fundo padrão é branco*/
}

/* Se não formatar a propria imagem, a imagem iria passar sem respeitar a formatação da classe pai wrapper */
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*vai fazer com q a imagem cubra o wrapper(a imagem não fica espremendo qnd muda a resoluçao, ela n perde a proporção)*/
    opacity: 0.5;
    animation: zoom 25s;
}

/* É para dar o efeito do zoom qnd entra na pagina. no 0%(qnd começa) qro q de 30% de zoom e no final qro q fique a imagem padrao */
@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    /*para o banner ter posição absoluta dentro da div, tem q colocar a div com posição relativa*/
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #fff;
    font-size: 3.5rem;
    /*o bom é usar a unidade de font "em" ou "rem" por questões de acessibilidade. se um usuario for mecher a fonte, fonts com pixel como unidade de medida, n irá mudar n*/
    font-family: var(--font-primary);
    /*o rem ele pega como referencia o pai, q é o banner, e o banner pega referencia o pai dele e assim ate chegar no body, por padrão a font é 16px, então se tiver 2rem, irá sser 2 vezes o tamnho da fonte padrao*/
    font-weight: 200;
    /*tirar um pouco do negrito da font*/
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    /*sombreamento de texto*/
    line-height: 3.5rem;
    /*espaçamento entre as linhas*/
    margin-bottom: 2rem;
    /*dar um espaçamento entre o h1 e o p*/
    opacity: 0;
    /*essa opacidade 0 é pra qnd carregar a pagina seja 0, mas tem o efeito da animação q irá voltar pra 100%*/
    animation: moveBanner 1s 0.5s forwards;
    /*animação do texto*/
}

.banner p {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    /*dar um espaçamento entre o p e o botao*/
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    /*essas 3 linha de bacground abaixo foram pegadas do site. É um gradiente*/
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #6a3093, #a044ff);
    background: linear-gradient(to right, #6a3093, #a044ff);
    padding: 1rem 3rem;
    /*o padding é a margem interna do botão, fazer ele crescer. 1rem refencia cima e baixo e o 2rem  é a esquerda e direita. Pode ter ate 4 valores*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
    color: rgb(0, 0, 0)
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }

    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    /* inicialmente a barra esta escondida para qnd clicar no toggle, era aparece */
    transition: right 1s;
}

/* aqui a sidebar aparece qnd clicka no toggle */
.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centralizar -50% em relaçao ao eixo X e -50% no eixo Y */
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
    /* transição para mudar de cor, junto com o hover, ele demora 1s da cor cinza ques tá até a cor roxa */
}

.menu-link:hover {
    color: #a044ff;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    border-radius: 5px;
    background-color: #6a3093;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    /* o font-size esta aumentando o tamnho dos icones pq os iccones estão em formato de texto */
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: #a044ff;
}